.flightContainer{
    z-index: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: relative;
}   

 .ad{
    /* position: absolute;
    top : 20vh; */
    min-width: 50vw;
    min-height: 30vw;
    height: fit-content;
 }
 .ad>img{
     width: 16vw;
     height: 18vw;
     box-shadow: var(--shadow);
 }   
 .ad>img:first-child{
    z-index: 0;
 }
 .ad>img:nth-child(2){
    z-index: 1;
    margin-bottom: -8vw;
    margin-left: -5vw;
 }
 .ad>img:nth-child(3){
    z-index: 0;
    margin-bottom: 3vw;
    margin-left: -10vw;
 }
 .ad>span{
    width: 16vw;
    height: 18vw;
    margin-left: 2vw;
    margin-bottom: -8vw;
    overflow: hidden;
 }
 .ad h2{
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
 }
 .ad p{
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: justify;
    hyphens: auto;
    line-height: 1;
 }
 .carousal{
    height: 40vw;
    width: 100vw;
    border: 1px solid green;
    position: relative;
    display: block;
 }
 .carousalSlides{
  display: inline-flex;
  transition: 2s all;
}

.carousalSlides>div{
    margin: 0 1vw;
}
.dots{
    position: relative;
    margin: 2vh;
}
.dots>span{
    display: block;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    margin: 2px;
}

