
.nav{
  z-index: 1000;
  position: fixed;
  top : 5vh;
  right: 5vw;
  width: fit-content;
  height: 50px;
  background-color: transparent;
}
.navSerach{
  overflow: hidden;
  position: relative;
  width: 15vw;
  min-width: 175px;
  height: 50px;
  padding: 0;
  background-color: transparent;
}
.navSerach,.navSerach input ,.navSerach label {
  border-radius: 3.34vw;
  font-size: large;
  cursor: pointer;
  user-select: none;
  letter-spacing:1px ;
}
.navSerach label{
  width: 100%;
  height: 100%;
  background:black;
  color: var(--colorBg);
  z-index: 2;
  transition: 1s all;
  position: absolute;
  margin: 0 !important;
  padding:18px 10px;
  animation: slideUp 5s infinite both;
}
@keyframes slideUp {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  75%{
    transform: translateY(-110%);
    opacity: 1;
  }
  76%{
    transform: translateY(-110%);
    opacity: 0;
  }
  77%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(100%);
    opacity: 1;
  }
}
.navSerach input{
  /* margin-top: -1px;
  margin-left: -5px; */
  border: 0px solid transparent;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0.5vw 1vw ;
  margin: 0 !important;
  background: var(--colorBg);
  color: black;
}
.navSerach input:focus-visible{
  border: 0px solid transparent;
  outline: 0px solid transparent;
}
#navMenuBtn{
  overflow: hidden;
  position: relative;
  width: 5vw;
  min-width: 50px;
  height: 50px;
  padding: 0;
  color : white;
  background-color: rgba(0, 0, 0, 0.238);
  cursor: pointer!important;
  font-size: large;  
  box-shadow: var(--shadow);
  border-radius: 13%;
  border: 1px solid white;
  mix-blend-mode: difference;
}
#menulist{
  z-index: 1000;
  position: fixed;
  top : 0px;
  right: 0px;
  width: 30vw;
  height:100vh;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 2vh 1vw;
  flex-direction: column;
}
#menulist>*{
  color: var(--txt);
  text-decoration: none;
}
#menulist a:hover{
  text-shadow: 0px 0px 2px rgba(9,34,50,0.62);
}
#menulist>span{
  font-size: xx-large;
}
#menulist>span:hover{
 color: chocolate;
}
.intro{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 8vw;
  color: #ffffffa3;
  text-shadow: 1px 2px 2px rgba(11,44,66,0.98);
}
.intro*{
  mix-blend-mode: color-burn;
}
.tags{
  overflow: hidden;
  display: block;
  height: 100vh;
  /* text-overflow: ellipsis; */
  text-align: justify;
  padding: 0 1vw;
  hyphens: auto;
  background-color: #018a8f;
  background: url('shoreAnim.png'),#99c5c6;
  background-repeat: no-repeat;
  background-position:top left , top bottom;
  animation: bgAnim 13s infinite both;
}
@keyframes bgAnim {
  0%{
  background-size:100% 10vh , 100%;
  }
  50%{
    background-size:100% 100vh , 100%;
    }
    100%{
      background-size:100% 10vh , 100%;
      }  
}
.tags>a{
  transition: 0.3 all;
  mix-blend-mode: multiply;
  font-family: Garamond, serif;
  color: #3aa1b5;
  text-decoration: none;
  font-size: 13vh;
  text-transform: uppercase;
}

.tags>a:hover{
  color: #061012;
  font-weight: bold;
}
